$blue: #174dab;
$lite-blue: #174DAB;
$blue-1: #2987B6;
$blue-2: #2250A3;
$blue-3: #5CB8D9;
$blue-4: #175478;

//new meras brand
$blue-5: #3366cc;
$blue-6: #5BB8D8;
$blue-7: #5575c8;


$green: #66CC99;
$green-1: #2FA35D;
$green-2: #2A9182;
$green-3: #6DC497;

$red: #DB5857;
$red-1: #C8140A;
$red-2: #E52B20;


$orange: #F5DE73;
$orange-1: #DEA014;
$orange-2: #FFBF2F;

$black : #000;
$black-1 : #333;
$black-2: #96999d;

$grayp : #ECECEE;
$gray-1: #CCCED0;
$gray-2: #F9F9FB;
$gray-3: #f7f7f7;
$gray-4: #eee;


$purple:#8664AB;



$white:#fff;