@import 'colors';
@import 'spacing';
@import 'typography';

$fe-primary: thprimary;
$fe-secondary: thsecondary;
$fe-success: thsuccess;
$fe-danger: thdanger;

// Brand colors 
// $primary-color: $fe-primary!default;
$secondary:$blue-6 !default;

$tertiary:$blue-3 !default;

$success:$green-1 !default;
$info:$blue-7 !default; 
$danger:$red-2 !default;
$warning:$orange-2 !default;




// padding
$padding-xl: 15px 53px;
$padding-lg: 8px  16px;
$padding-md: 8px 12px;
$padding-sm: 4px 8px;
$padding-xs: 1px 5px;
$padding-10: 10px;
$padding-5: 5px;

// shadow
$box-shadow: 0 8px 16px rgba(0, 0, 0, .1);


// borders
//$input-border: 1px solid $gray;
$border-radius: 0;
$border-radius-5: 5px;
$border-radius-10: 10px;

// color classes
.black-2{
    color: $black-2;
}



pre code {
    direction: ltr;
    font-size: 15px !important;
}